Package: cutepaste
Version: 0.1.0-1
Architecture: amd64
Maintainer: Howard Chan <smartboyhw@gmail.com>
Installed-Size: 65
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:4.1.1), libqt5core5 (>= 5.0.2), libqt5network5 (>= 5.0.2), libstdc++6 (>= 4.1.1)
Section: net
Priority: extra
Homepage: https://projects.kde.org/projects/playground/network/cutepaste
Description: Client application for paste.kde.org written in Qt
 cutepaste is a client application which pastes text
 to paste.kde.org.
